.fl{float:left}
.ml30{margin-left:30px}
.ml50{margin-left:50px}
.ml250{margin-left:250px}
.clear{zoom:1}
.clear:after{content:".";display:block;height:0;clear:both;visibility:hidden}
.lang-java .token.function{color:#136770}
.lang-java .token.annotation{color:#bfb352;font-family:"微软雅黑",serif}
.token.string {color:var(--theme-color,#2b9c69)}

.markdown-section pre > code {line-height:1.3rem}
.markdown-section hr {border-bottom-width:3px}